.button{
    display:inline-flex;
    align-items:center;
    justify-content:center;

    padding:14px 28px;

    border:none;
    border-radius:12px;

    background:var(--color-brand-green);
    color:var(--color-white);

    font-size:15px;
    font-weight:600;
    font-family:inherit;

    cursor:pointer;
    transition:.2s;

    text-decoration:none;
}

.button:hover{
    background:var(--color-brand-green-dark);
}

.button:active{
    transform:scale(.98);
}

.button:disabled{
    background:var(--color-control-disabled);
    cursor:not-allowed;
}