.rodape{
    width:100%;
    padding:18px 30px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:var(--white);
}

.rodape p{
    margin:0;
    color:rgba(0, 0, 0, 0.85);
    font-size:14px;
    text-align:center;
    line-height:1.6;
}

.rodape strong{
    color:var(--verde-escuro);
}

.quebra-mobile{
    display:none;
}

/* ======================================================
   RESPONSIVO
====================================================== */

@media (max-width:600px){

    .quebra-mobile{
        display:block;
    }

    .rodape{
        padding:16px 20px;
    }

    .rodape p{
        font-size:13px;
    }

}