/* ======================================================
   NAVBAR
====================================================== */
.navbar-user{
    position:relative;
}

.navbar-user-btn{
    display:flex;
    align-items:center;
    gap:8px;
    border: none;
    border-radius:20px;
    background:var(--color-hex-89918a00);
    color:var(--color-hex-000000);
    cursor:pointer;
}

.navbar-user-menu{
    position:absolute;
    top:110%;
    right:0;
    width:220px;
    background:var(--color-hex-fff);
    border-radius:12px;
    box-shadow:0 10px 30px var(--color-rgba-0-0-0-p12);
    overflow:hidden;
    z-index:100;
}
.navbar-user-menu span{
    color: var(--color-hex-fff);
}
.navbar-user-menu a,
.navbar-user-menu button{
    display:block;
    width:100%;
    padding:14px 18px;
    text-align:left;
    border:none;
    background:none;
    cursor:pointer;
    color:var(--color-hex-333);
}

.navbar-user-menu a:hover,
.navbar-user-menu button:hover{
    background:var(--color-hex-f5f5f5);
}


.navbar{
    width:100%;
    height:82px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 5%;

    background:var(--white);

    border-bottom:1px solid var(--border);

    position:sticky;
    top:0;
    z-index:1000;
}

/* ======================================================
   LOGO
====================================================== */

.navbar-logo{
    display:flex;
    align-items:center;
    text-decoration:none;
}

.navbar-logo img{
    height:90px;
    display:block;
}

/* ======================================================
   MENU DESKTOP
====================================================== */

.navbar-menu{
    display:flex;
    align-items:center;
    gap:2rem;
}

.navbar-link{
    position:relative;

    display:flex;
    align-items:center;
    gap:8px;

    text-decoration:none;

    color:var(--text-primary);

    font-size:16px;
    font-weight:500;

    transition:.45s;
}

.navbar-icon{
    font-size:17px;
    transition:.45s;
}

/* ======================================================
   HOVER
====================================================== */

.navbar-link:not(.active):hover{
    color:var(--orange);
}

.navbar-link:not(.active):hover .navbar-icon{
    color:var(--orange);
    transform:scale(1.18);
}

.navbar-link::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0%;
    height:3px;

    border-radius:50px;

    background:var(--orange);

    transition:.45s;
}

.navbar-link:hover::after{
    width:100%;
}

/* ======================================================
   LINK ATIVO
====================================================== */

.navbar-link.active{
    color:var(--secondary);
    font-weight:600;
}

.navbar-link.active::after{
    width:100%;
    background:var(--secondary);
}

/* ======================================================
   BOTÃO
====================================================== */

.navbar-button{

    background:var(--secondary);
    color:var(--color-keyword-white);
    border: none;
    padding:11px 26px;

    border-radius:10px;

    text-decoration:none;

    font-weight:600;

    transition:.35s;
}

.navbar-button:hover{

    background:var(--secondary-dark);

    transform:translateY(-2px);

    box-shadow:0 10px 25px var(--color-rgba-0-0-0-p15);

}

/* ======================================================
   BOTÃO MENU
====================================================== */

.menu-toggle{

    display:none;

    border:none;

    background:none;

    cursor:pointer;

    color:var(--text-primary);

    font-size:28px;

    transition:.35s;

    z-index:1002;
}

.menu-toggle:hover{

    color:var(--secondary);

    transform:rotate(90deg);

}

/* ======================================================
   OVERLAY
====================================================== */

.navbar-overlay{

    position:fixed;

    inset:0;

    background:var(--color-rgba-0-0-0-p35);

    backdrop-filter:blur(3px);

    opacity:0;

    visibility:hidden;

    transition:.35s;

    z-index:998;
}

.navbar-overlay.show{

    opacity:1;

    visibility:visible;

}

/* ======================================================
   MASCOTE MENU
====================================================== */

.navbar-pet-menu{
    display:none;
}

/* ======================================================
   TABLET
====================================================== */

@media(max-width:960px){

    .navbar{

        padding:0 30px;

    }

    .navbar-logo img{

        height:75px;

    }

    .menu-toggle{

        display:block;

    }

.navbar-menu{

    position: fixed;

    top: 0;
    right: -100%;

    width: 300px;
    max-width: 80%;

    height: 100dvh;
    max-height: 100dvh;

    overflow-y: auto;
    overflow-x: hidden;

    background: var(--color-keyword-white);

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    padding: 90px 35px 25px;

    gap: 28px;

    box-shadow: -10px 0 40px var(--color-rgba-0-0-0-p12);

    transition: right .4s ease;

    z-index: 1001;

    box-sizing: border-box;
}

    .navbar-menu.open{

        right:0;

    }

    .navbar-link{

        width:100%;

        font-size:18px;

        padding-bottom:10px;
    }

    .navbar-link::after{

        bottom:0;

    }

    .navbar-icon{

        font-size:20px;

        width:24px;

    }

    .navbar-button{
        width:100%;

        text-align:center;

        padding:14px;

        border-radius:12px;

        font-size:17px;
    }

    .navbar-pet-menu{
        display:block;
        width:200px;
        height:auto;
        margin-top:auto;
        margin-left:auto;
        margin-right:auto;
        user-select:none;
        pointer-events:none;
        animation: flutuar 3s ease-in-out infinite;
    }

    @keyframes flutuar {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-12px);
        }
        100% {
            transform: translateY(0);
        }
    }

}

/* ======================================================
   CELULAR
====================================================== */

@media(max-width:480px){

    .navbar{
        height:74px;
        padding:0 20px;
    }

    .navbar-logo img{
        height:65px;
    }

    .navbar-menu{
        width:250px;
        padding:110px 25px 30px;
    }

    .navbar-link{
        font-size:17px;
        margin-bottom: 8px;
    }

    .navbar-button{
        font-size:16px;
    }

    .navbar-pet-menu{
    width:190px;
    }

}